{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="padding-left: 40%;padding-top: 5%">
		<div style="margin-bottom: 20px;font-size: 20px">
			GET STARTED WITH A FREE TRIAL ACCOUNT
		</div>
		<div style="margin-bottom: 20px">
			<div>USERNAME<span style="color: red">*</span></div>
			<input type="text" name="" style="width: 250px;height: 25px">
			<div style="color: #ccc;margin: 5px 0;">Spaces are allowed; punctuation is not allowed except for periods, hyphens, apostrophes, and underscores</div>
		</div>

		<div style="margin-bottom: 20px">
			<div>E-MAIL-ADDRESS<span style="color: red">*</span></div>
			<input type="text" name="" style="width: 250px;height: 25px">
		</div>

		<div style="margin-bottom: 20px">
			<div>PASSWORD<span style="color: red">*</span></div>
			<input type="text" name="" style="width: 200px;height: 25px">

			<div style="display: inline-block;padding: 0 10%">
				<div>Password strength</div>
				<div style="height: 4px;background: #f30f0f;"></div>
			</div>
		</div>

		<div style="margin-bottom: 20px">
			<div>CONFIRM PASSWORD<span style="color: red">*</span></div>
			<input type="text" name="" style="width: 200px;height: 25px">
			<div style="color: #ccc;margin: 5px 0;">Provide a password for the new account in both fields</div>
		</div>

		<div style="margin-bottom: 20px">
			<div>COUNTRY<span style="color: red">*</span></div>
			<input type="text" name="" style="width: 250px;height: 25px">
		</div>

		<div style="margin-bottom: 20px">
			<div>CITY*</div>
			<input type="text" name="" style="width: 250px;height: 25px">
		</div>

		<div style="margin-bottom: 20px">
			<div>ACCEPT TERMS<span style="color: red">*</span></div>
			<input type="checkbox" name="">
			<span>I accept the <a href="" style="text-decoration:none;color: #0bb56e;">terms and conditions</a> and the <a href="" style="text-decoration:none;color: #0bb56e;">privacy policy</a> of FUN .com</span>
		</div>

		<button style="border: none;background: #81b716;color: #fff;padding: 1% 5%;outline: none;cursor: pointer;border-radius: 22px">Create new account</button>

	</div>
</body>
</html>